@font-face {
    font-family: 'InterRegular';
    font-weight: 400;
    font-style: normal;

    src: url('/fonts/Inter-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'IBMPPlexMono';
    font-weight: 400;
    font-style: normal;

    src: url('/fonts/IBMPlexMono-Light.woff') format('woff');
    font-display: swap;
}

// @font-face {
//     font-family: 'GTPressuraMono-Light';
//     font-weight: 400;
//     font-style: normal;

//     src: url('/fonts/GTPressuraMono-Light.woff') format('woff'),
//     url('/fonts/GTPressuraMono-Light.woff2') format('woff');
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Plaak-SemicondensedRegular';
//     font-weight: 400;
//     font-style: normal;

//     src: url('/fonts/Plaak-SemicondensedRegular.woff') format('woff'),
//     url('/fonts/Plaak-SemicondensedRegular.woff2') format('woff2');
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Plaak-CondensedBold';
//     font-weight: 400;
//     font-style: normal;

//     src: url('/fonts/Plaak-CondensedBold.woff') format('woff'),
//     url('/fonts/Plaak-CondensedBold.woff2') format('woff2');
//     font-display: swap;
// }
