.button {
  overflow: visible;

  margin: 0;
  padding: 0;

  border: none;
  outline: none;

  background: none;

  cursor: pointer;

  text-decoration: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

@include mq-wide {
  .info-block__button {
    width: rem(71px);
    height: rem(40px);
  }
}
